DEBUG=true
DUMP_DOWNSTREAM_REQUEST=false

APP_NAME="CML Insight APP Aggregator"
SERVICE_PORT=8086

# applicable for client connections to the service
SERVER_TIMEOUT=30s

# applicable for external api requests from the service
CLIENT_TIMEOUT=10s

API_GATEWAY_URL=
API_KEY=78c18b4ac65b22c8863852c224ec888e

CONTEXT_PATH=/app-aggregator

RL_WHITELIST_URLS="/aggregator/system/healthz,/aggregator/system/info"